body {
  margin: 0;
  font-family: Montserrat,sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  background-color:#7e3e98;
}

code {
  font-family: Montserrat,sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="radio"] {
  margin-left: 16px;
}
